
<div class="container">
  <form class="row g-3">
    <div class="col-md-6">
      <label for="titular" class="form-label">Titular</label>
      <input type="text" class="form-control" id="titular" [(ngModel)]="form.titular" #titular="ngModel" name="titular">
    </div>
    <div class="col-md-6">
      <label for="resena" class="form-label">Reseña</label>
      <input type="text" class="form-control" id="resena" [(ngModel)]="form.resena" #resena="ngModel" name="resena">
    </div>
    <div class="col-md-6">
      <label for="contenido" class="form-label">Contenido</label>
      <textarea type="text" class="form-control" id="contenido" [(ngModel)]="form.contenido" #contenido="ngModel" name="contenido"></textarea>
    </div>
    <div class="col-md-6">
      <label for="estado" class="form-label">Estado</label>
      <select name="estado" class="form-control" [(ngModel)]="form.estado" #estado="ngModel">
        <option value="">Seleccione una opción</option>
          <option *ngFor="let estado of estados" value="{{estado.idestado}}" [selected]="estado.idestado === form.idestado">
            {{estado.nombre=="Activo"?"Visible":"No visible"}}
          </option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="imagen" class="col-md-4 control-label">Imagen(*)</label> 
      <button name="btnimagen" class="form-control" id="btn-image" value="">Subir imagen</button>
      <img src="{{form.imagen==''?'https://res.cloudinary.com/majayesh/image/upload/v1640621390/img/subir_imagen_gdwgbc.png':form.imagen}}" alt="" id="image" width="525" id="btn-image">
      <input name="imagen" id="imagen" class="form-control" type="text" [(ngModel)]="form.imagen" #imagen="ngModel" readonly>
    </div>
    
    
    <br><br>
    <br>
    <br>
    <div class="col-12 ">
      <button type="submit" class="btn btn-primary btn-lg Signup" (click)="onSubmit()">{{status}}</button>
    </div>
  </form>
</div>

