<div class="container">
    <div class="body col-md-12">
        <div class="box bg-img text-center">
            <div class="content">
                <h2>Mensaje del <span> Sistema</span></h2>
                <div>
                    <img class="logo-img"
                        src="http://angelinaatelier.herokuapp.com/admin/shared/assets/modelos/icons/warning.svg"
                        height="80px" width="80px" alt="">
                </div>
                <br>
                <p>Ruta inexistente</p>
                <br>
                <!-- <span class="home"><a href="/admin">Inicio</a></span> -->
            </div>
        </div>
    </div>
</div>