.accesos{
    text-align: right;
}
.url{
    display: inline-block;
    margin-right: 30px;
}
.logo{
    width: 30%;
    text-align: center;
}
.logo a{
    color: #5e51a9;
    font-size: x-large;
    font-weight: bold;
    font-family: Merriweather, serif;
}
.link{
    text-overflow:inherit;
}
.container-fluid{
    background-color: white;
}