<!-- <header class="u-clearfix u-header u-header" id="sec-9393">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">

    <a href="/" class="navbar-brand u-image u-logo u-image-1">Angelina Atelier</a>

    <div class="navbar-nav ml-auto">
      <ul class="u-nav u-unstyled u-nav-1">
        <li class="u-nav-item"><a
            class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base active" href="/"
            style="padding: 10px 20px;">Inicio</a>
        </li>
        <li class="u-nav-item"><a
            class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
            href="/user/noticias" style="padding: 10px 20px;">Noticias</a>
        </li>
        <li class="u-nav-item"><a
            class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
            href="/user/catalogo" style="padding: 10px 20px;">Catálogo</a>
        </li>
        <li class="u-nav-item"><a
            class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
            href="/user/contacto" style="padding: 10px 20px;">Contáctanos</a>
        </li>
      </ul>
    </div>
  </div>

</header> -->

<header class="container-fluid">
  <div class="container">
    <ul>
      <li class="url logo">
        <a class="link" href="/">Angelina Atelier</a>
      </li>
    </ul>
      
  </div>
  <div class="container accesos">
    <ul>
      <li class="url">
        <a class="link" href="/">Inicio</a>
      </li>
      <li class="url">
        <a class="link" href="/user/noticias">Noticias</a>
      </li>
      <li class="url">
        <a class="link" href="/user/catalogo">Catalogo</a>
      </li>
      <li class="url">
        <a class="link" href="/user/contacto">Contacto</a>
      </li>
    </ul>
  </div>
</header>