<!-- <header class="u-clearfix u-header u-header" id="sec-9393">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">

        <a href="/" class="navbar-brand u-image u-logo u-image-1">Angelina Atelier</a>

        <div class="navbar-nav ml-auto">
            <ul class="u-nav u-unstyled u-nav-1">
                <li class="u-nav-item"><a
                        class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base active"
                        href="/" style="padding: 10px 20px;">Inicio</a>
                </li>
                <li class="u-nav-item"><a
                        class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                        href="/user/noticias" style="padding: 10px 20px;">Noticias</a>
                </li>
                <li class="u-nav-item"><a
                        class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                        href="/user/catalogo" style="padding: 10px 20px;">Catálogo</a>
                </li>
                <li class="u-nav-item"><a
                        class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                        href="/user/contacto" style="padding: 10px 20px;">Contáctanos</a>
                </li>
            </ul>
        </div>
    </div>

</header> -->
<div class="container-fluid">
    <div class="container" style="height: 50vh;">
        <div>
            <p> Angelina Atelier es una organización de confección a medida que tiene todos los modelos para ti y tu
                familia.
            </p>
        </div>
        <br>
        <div>
            <h3> Correo </h3>
            <p> AngelinaAtelierConfection@gmail.com </p>
        </div>
        <br>
        <div>
            <h3> Teléfono </h3>
            <p> 999999999 </p>
        </div>
    </div>


    <div class="mapresponsive">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d975.0926350985425!2d-76.9577187!3d-12.1551572!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105b8f15fb425bd%3A0xd70791431df758c0!2sSanta%20In%C3%A9s%20149%2C%20Cercado%20de%20Lima%2015811!5e0!3m2!1ses-419!2spe!4v1624921112584!5m2!1ses-419!2spe"
            style="border:0; width: 100%;height: 50vh;" loading="lazy"></iframe>
    </div>
</div>