#app{
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(https://www.reklamzamani.net/dosyalar/galeri/1626248184744772030.webp);
    
}